<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Homepage</title>
</head>
<body>
  <div>
    <header>
      <h1>ACTORS!</h1>
    </header>


    <form action="/actors" method="get">
      <label for="query">Search: </label>
      <input type="text" name="query" id="query" />

      <input type="submit" value="Search" />
    </form>

    <% if @query %>
    <h1> Search results for: <%= @query %></h1>
    <% @actors_search.each do |search| %>
        <% if search["name"].downcase.include?(@query.downcase) %>
          <li><a href='/actors/<%=search['id']%>'><%= search["name"] %></a>
          <% @search_actor << search["name"] %>
        <% end %>
    <% end %>

      <% else %>
        <% @actors.each do |actor| %>
        <li><a href='/actors/<%=actor['id'] %>'><%= actor["name"] %></a></li>
        <% end %>
    <% end %>

    </selection>

  </div>
</body>
</html>
